.appLauncherModule {
    margin-right: 20px;

    &__button {
        min-width: 37px;
        min-height: 37px;
        background: #32362A;

        &:hover .appLauncherModule__icon {
            -gtk-icon-transform: rotate(180deg);
        }

        &:active .appLauncherModule__icon {
            font-size: 20px;
        }
    }

    &__icon {
        padding: 5px;
        font-size: 26px;
        transition: all 0.15s ease-out;
    }
}
