@import 'base/reset';
@import 'windows/bar/barWindow';
@import 'windows/applauncher/applauncherWindow';


#topBar{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
.topBar{

    padding: 5px 5px;
}







